body {

    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.card {
    background-color: #F4F5F6 !important;
    border: 1px solid #F4F5F6 !important;
}

.wrapper-area .cover-imag-area img {
    width: 100%;
    height: 250px;
    object-fit: fill;
}

/* .wrapper-area{
    background-image: url(./img/aa.jpg);
    background-position: top, center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
} */

/* content-area */
.content-area .heading-text h1 {
    color: #ED2323;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.content-area .heading-text h3 {
    font-size: 25px;
    color: #003399;
    font-family: 'Poppins', sans-serif;
    line-height: 38px;
}

.content-area .heading-text p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.content-area .event-details h2,
.content-area .registration-details .heading h2 {
    color: #ED2323;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.content-area .event-details article span {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}


.content-area .registration-details .deadline h3,
.content-area .registration-details .ticket h3 {
    color: #ED2323;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.content-area .registration-details .deadline p,
.content-area .registration-details .ticket p {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}




/* form-area */
.form-area .card-title {
    font-size: 34px;
    color: #003399;
    font-family: 'Poppins', sans-serif;
}

.form-area .form-area-subheading {
    font-size: 19px;
    font-weight: 500;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.form-area .form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.form-area .form-group .form-control-file {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 0.375rem 0.75rem;
}

::-webkit-input-placeholder {
    color: #0000007a !important;
    font-size: 13px;
    transform: opacity .2s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

:focus::-webkit-input-placeholder {
    color: #0000007a !important;
    opacity: 0.5s;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.form-control:focus {
    color: #000;
    background-color: #fff;
    border-color: #00000030 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%) !important;
    font-family: 'Poppins', sans-serif;
}


.form-area .form-group .btn-primary {
    color: #fff;
    background-color: #003399 !important;
    border-color: #003399 !important;
    padding: 7px 35px !important;
    font-size: 16px !important;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}


/* footer */
.footer .heading h3 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.footer .heading img {
    width: 250px;
    height: auto;

}



/* Successfully-content-area */

.Successfully-content-area .heading-text h1 {
    color: #ED2323;
    font-size: 55px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.Successfully-content-area .heading-text h3 {
    font-size: 20px;
    color: #003399;
    font-family: 'Poppins', sans-serif;
}

.Successfully-content-area .heading-text p {
    font-size: 20px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0px;
}

.Successfully-content-area .heading-text span {
    font-size: 16px;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.Successfully-content-area .registration-details .event-details h2 {
    color: #ED2323;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.Successfully-content-area .registration-details .event-details article span {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}

.Successfully-content-area .registration-details .event-details h3 {
    color: #ED2323;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
}

.Successfully-content-area .bt-area .btn {
    color: #fff;
    background-color: #003399 !important;
    border-color: #003399 !important;
    padding: 7px 35px !important;
    font-size: 16px !important;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin: 7px;
}

.Successfully-content-area .event-right {
    text-align: right;
}

.Successfully-content-area .event-right-right {
    margin-top: 20px;
}

.Successfully-content-area .bt-area .print-btn {
    padding: 7px 58px !important;
}

.qr-code{
    text-align: center;
}
.qr-code img{
    max-width: 100% !important;
    height: 240px !important;
}


/*countdown-timer*/

#countdown-timer {
    margin-top: 50px !important;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

}

#countdown-timer h5{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 50px !important;
    font-size: 14px;
}

#countdown-timer ul {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}

#countdown-timer ul li {
    background-color: #F4F5F6;
    margin: 10px;
    padding: 10px;
}

.timer {
    margin-right: 10px;
}

.bold-number {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 42px !important;
}

.slim-countdown-text {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 17px;
}

/*mobile*/


@media only screen and (max-width: 1024px) {
    .hide-words {
        display: none;
    }

    .bold-number {
        font-size: 30px !important;
        text-align: center;
        display: block;
    }


}


/* countdown-timer 2 */

.atc-wrapper {
    position: absolute;
    right: -10px;
    z-index: 27;
    top: 60px;
}

.atc-checkbox-label {
	display: block;
	background: #F4F5F6;
	color: #000;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	position: relative;
	z-index: 1;
	user-select: none;
    font-size: 11px;
}

.atc-links-wrapper {
	background: white;			
	transition: transform .5s, opacity .1s;
	border: 0 solid #F4F5F6;
	border-left-width: 1px;
	border-right-width: 1px;
	box-sizing: border-box;
	transform: translateY(-100%);
	width: 100%;
	opacity: 0;
    z-index: 27;
    /* position: relative; */
}

.atc-link {	
	line-height: 40px;
	display: block;
	text-decoration: none;
	text-align: center;
	background: white;
	color: #ED2323;	
	pointer-events: none;
	border-bottom: 1px solid #F4F5F6;
	position: relative;	
	transition: background .5s, color .5s;
    background-color: #000;
    font-size: 12px;
    padding: 0 19px;
}
.atc-link:hover {
		background: #F4F5F6;
		color: #000;
	}

.atc-checkbox {
	display: none;
}
    .atc-checkbox:checked + .atc-links-wrapper {		
		transform: translateY(0);
		opacity: 1;
		transition: transform .5s, opacity .5s .2s;
    }
.atc-link {		
    pointer-events: auto;
}


@media only screen and (max-width: 768px) {
    .content-area .heading-text h1 {
        font-size: 28px;
    }

    .form-area .card-title {
        font-size: 28px;
    }

    .content-area .registration-details .deadline p,
    .content-area .registration-details .ticket p {
        font-size: 15px;
    }

    .Successfully-content-area .event-right {
        text-align: center !important;
    }
    .atc-wrapper {
        right: -42px;
    }
}

@media only screen and (max-width: 360px) {
    .atc-wrapper {
        right: 18px !important;
    }
}


@media only screen and (max-width: 540px) {
    .wrapper-area .cover-imag-area img {
        height: 150px;
        object-fit: fill;
    }


    .Successfully-content-area .heading-text h1 {
        font-size: 38px;
    }

    .Successfully-content-area .heading-text h3 {
        font-size: 25px;
    }

    .Successfully-content-area .heading-text p {
        font-size: 16px;
    }

    .Successfully-content-area .heading-text span {
        font-size: 14px;
    }

    .event-details {
        padding-top: 0px !important;
    }

    .Successfully-content-area .registration-details .event-details h3 {
        padding-top: 30px !important;
    }

    .Successfully-content-area .bt-area {
        padding-top: 0px !important;
    }

    .atc-wrapper {
        right: 36px;
    }
}

@media only screen and (max-width: 411px) {
    .wrapper-area .cover-imag-area img {
        height: 110px;
        object-fit: fill;
    }

    .Successfully-content-area .heading-text h1 {
        font-size: 30px;
    }

    .Successfully-content-area .heading-text h3 {
        font-size: 20px;
    }

    .Successfully-content-area .heading-text p {
        font-size: 15px;
    }

    .Successfully-content-area .bt-area {
        padding-top: 0px !important;
    }

}

@media only screen and (max-width: 360px) {
    .Successfully-content-area .heading-text h1 {
        font-size: 25px;
    }

    .Successfully-content-area .heading-text h3 {
        font-size: 18px;
    }
}


@media only screen and (max-width: 320px) {
    .content-area .heading-text h1 {
        font-size: 25px;
    }

    .content-area .heading-text h3 {
        font-size: 22px;
    }

    .form-area .card-title {
        font-size: 24px;
    }

    .Successfully-content-area .heading-text h3 {
        font-size: 17px;
    }

    .Successfully-content-area .heading-text span {
        font-size: 11px;
    }
}


@media print {

    .Successfully-content-area .bt-area,
    .footer {
        display: none;
    }

}